*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}
a{
    display: block;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}


@import 'variables';
@import 'sections/banner';
@import 'sections/shop' ;
@import 'sections/cart' ;

